<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h3 style="background-color:Gray;">ABOUT ME>></h3>
    
    </div>
</div>

<div style=" display: flex;justify-content: center;align-items: center;">

<div class="card" style="width: 20rem;">
  <img class="card-img-top" height="300" src="/Assets/images/ann-image.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"style="background-color:Gray;">ANMARY K GAIN</h5>
    <p class="card-text"style="background-color:Gray;">Student @Centennial College</p>

    <a href="/Assets/images/Anmary K Gain.pdf" title="Go to PDF of resume">Find My Resume</a>
    
  </div>
</div>

</div>