
<div class="container">
  <div class="icon-bar">
  <a class="active" href="#"><i class="/Assets/images/appicon.png"></i></a>
  <a href="#"><i class="fa fa-trash"></i></a>
</div>
    <h2 style=" display: flex;justify-content: center;align-items: center;"><i>Welcome to our website!!</i></h2>
    <div class="card" style="width: 80rem;">
    <img class="card-img-top" height="500"src="/Assets/images/coverimage.jpg" alt="Card image cap"> 
</div>