<div class="container">
    <h3 style="background-color:Gray;"><b>OUR PROJECTS</b>>></h3>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="120"src="/Assets/images/3M.png" alt="Card image cap">
    <h5 class="card-title"><i>3M SERVICES</i></h5>
    <p class="card-text"><i>Mainly deals with Mainframe,Cobol and SQL</i></p>
    <p class="card-text"><i>Role:Programmer</i>.</p>
    
     </div>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="100"src="/Assets/images/afterschoolclub.png" alt="Card image cap">
    <h5 class="card-title"><i>AFTER SCHOOL CLUB</i></h5>
    <p class="card-text"><i>C++ project based on club activities for children.</i></p>
    <p class="card-text"><i>Role:Front End Designer</i></p>
     </div>
</>
    <div class="card-body">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="100"src="/Assets/images/shipvoayge.png" alt="Card image cap">
    <h5 class="card-title"><i>SHIPVOYAGE</i></h5>
    <p class="card-text"><i>Php & Visual basic project for booking cruises.</i></p>
    <p class="card-text"><i>Role: Developer</i></p>
  </div>
</div>
</div>