<div class="container">
    <h1><b>Our Services</b></h1>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="100"src="/Assets/images/webimage.png" alt="Card image cap">
    <h5 class="card-title"><i>WEB APPLICATION DEVELOPMENT</i></h5>
    <p class="card-text"><i>Developing application accessible over a web</i></p>
    
     </div>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="100"src="/Assets/images/python.png" alt="Card image cap">
    <h5 class="card-title"><i>PYTHON PROGRAMMING</i></h5>
    <p class="card-text"><i>Interpreted high-level general-purpose programming language.</i></p>
     </div>
</>
    <div class="card-body">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="100"src="/Assets/images/csharp.png" alt="Card image cap">
    <h5 class="card-title"><i>C#</i></h5>
    <p class="card-text"><i>General-purpose, multi-paradigm programming language</i></p>
  </div>
  
</div>
